---
// Footer component
// 共用：跨所有頁面，含版本資訊 + CC BY-NC-ND 4.0 授權聲明
// pathPrefix：主頁傳 ''、子頁（profiles/services）傳 '../'
import site from '../data/site.json';
import nav from '../data/nav.json';

interface Props {
  pathPrefix?: string;
}
const { pathPrefix = '' } = Astro.props;
---

<footer>
  <div class="container">
    <div>
      <h4>{site.site_name}</h4>
      <p>{site.site_name_en}</p>
      <p>{site.tagline}</p>
      <p style="margin-top:14px;font-size:14px;color:var(--ink-4);">
        {site.credit.team}<br>
        {site.credit.writer}<br>
        {site.credit.design}
      </p>
    </div>
    <div>
      <h4>章節導覽</h4>
      <ul>
        {nav.footer_chapters.map((item) => (
          <li><a href={`${pathPrefix}${item.href}`}>{item.label}</a></li>
        ))}
      </ul>
    </div>
    <div>
      <h4>版本資訊</h4>
      <ul>
        <li>{site.report_full_name}</li>
        <li>{site.publish_date}</li>
        <li>{site.version_status}</li>
        <li class="license-li">
          {site.license.prefix} <strong>{site.license.code}</strong> {site.license.label}<br>
          <span class="license-rules">{site.license.rules}</span>
        </li>
      </ul>
    </div>
    <div class="copyright">{site.copyright}</div>
  </div>
</footer>
